// Specific CSS for your home-page

body {
  background-color: black;
}

.calculator-container {
  margin: 60px auto;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  box-shadow: lightgray 0px 0px 10px 2px;
  position: relative;
}

.calculator-screen {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1.5px solid $light-gray;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
  color: $white-gray;
  letter-spacing: 2px;  
  font-family: 'Rubik Bubbles', cursive;
}

.calculator-buttons-container {
  width: 280px;
  height: 270px;
  position: absolute;
  top: 220px;
  left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  display: flex;
  width: 60px;
  height: 45px;
  margin: 3px;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: $white-gray;
  font-family: 'Rubik Bubbles', cursive;
}

 button:hover {
  border: 1.5px solid $white-gray;
  background-color: black;
  color: $white-gray;
  transition: all .30s ease;
 }
