<div class="container">
  <div class="calculator-container" data-controller="calculation"
    data-action="keydown.up->calculation#snake">
    <div class="calculator-screen" data-calculation-target="result">
    </div>
    <div class="calculator-buttons-container">
      <button class="button" data-action="click->calculation#on">ON</button>
      <button class="button" data-action="click->calculation#ac">AC</button>
      <button class="button" data-action="click->calculation#c">C</button>
      <button class="button"></button>
      <button class="button" data-action="click->calculation#item">7</button>
      <button class="button" data-action="click->calculation#item">8</button>
      <button class="button" data-action="click->calculation#item">9</button>
      <button class="button" data-action="click->calculation#item">/</button>
      <button class="button" data-action="click->calculation#item">4</button>
      <button class="button" data-action="click->calculation#item">5</button>
      <button class="button" data-action="click->calculation#item">6</button>
      <button class="button" data-action="click->calculation#item">*</button>
      <button class="button" data-action="click->calculation#item">1</button>
      <button class="button" data-action="click->calculation#item">2</button>
      <button class="button" data-action="click->calculation#item">3</button>
      <button class="button" data-action="click->calculation#item">-</button>
      <button class="button" data-action="click->calculation#item">0</button>
      <button class="button">.</button>
      <button class="button" data-action="click->calculation#calcul">=</button>
      <button class="button" data-action="click->calculation#item">+</button>
    </div>
  </div>
</div>
