<div class="container">
  <div class="calculator-container" data-controller="calculation">
    <div class="calculator-screen" data-calculation-target="result">
    </div>
    <div class="calculator-buttons-container">
      <button class="button" data-action="click->calculation#on">ON</button>
      <button class="button" data-calculation-target="button">AC</button>
      <button class="button" data-calculation-target="button">C</button>
      <button class="button" data-calculation-target="button">√</button>
      <button class="button" data-calculation-target="button">7</button>
      <button class="button" data-calculation-target="button">8</button>
      <button class="button" data-calculation-target="button">9</button>
      <button class="button" data-calculation-target="button">/</button>
      <button class="button" data-calculation-target="button">4</button>
      <button class="button" data-calculation-target="button">5</button>
      <button class="button" data-calculation-target="button">6</button>
      <button class="button" data-calculation-target="button">X</button>
      <button class="button" data-calculation-target="button">1</button>
      <button class="button" data-calculation-target="button">2</button>
      <button class="button" data-calculation-target="button">3</button>
      <button class="button" data-calculation-target="button">-</button>
      <button class="button" data-calculation-target="button">0</button>
      <button class="button" data-calculation-target="button">.</button>
      <button class="button" data-calculation-target="button">=</button>
      <button class="button" data-calculation-target="button">+</button>
    </div>
  </div>
</div>
